#include "Windows.h"

333 DIALOG 0, 0, 421, 311
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "CSF Viewer"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
   CONTROL "Search Label/Text:", 1003, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 30, 63, 8 
   CONTROL "", 1004, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 77, 28, 110, 13 
   CONTROL "Apply", 1016, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 231, 28, 45, 13 
   CONTROL "Reload CSF", 1015, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 281, 28, 70, 13 
   CONTROL "When the trigger editor is to open and the parameter of the selected action is CSF, Click 'Apply' or double click item to apply the currently selected CSF text", 1010, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 5, 343, 18 
   CONTROL "", 1000, LISTBOX, LBS_STANDARD | LBS_MULTIPLESEL | LBS_USETABSTOPS | LBS_NOINTEGRALHEIGHT | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 54, 140, 250 
   CONTROL "", 1001, "SysListView32", LVS_ICON | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 152, 54, 260, 250 
}
