#include "Windows.h"

339 DIALOG 0, 0, 120, 450
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Distance Toolbox"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 8, "Tahoma"
{
   CONTROL "Distance Ruler", 900, BUTTON, BS_GROUPBOX | WS_CHILD | WS_TABSTOP, 5, 5, 110, 88 
   CONTROL "Two-Point Distance", 1001, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 20, 100, 14 
   CONTROL "Live Distance", 1002, BUTTON, BS_AUTOCHECKBOX | BS_LEFT | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 56, 100, 14 
   CONTROL "Clear Distance Points", 1003, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 74, 100, 14 
   CONTROL "Line Segment (no text)", 1004, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 38, 100, 14 
   CONTROL "Path Distance", 1400, BUTTON, BS_GROUPBOX | WS_CHILD | WS_TABSTOP, 5, 98, 110, 101 
   CONTROL "Path Distance", 1005, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 113, 100, 14 
   CONTROL "", 1006, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 10, 131, 45, 80 
   CONTROL "", 1007, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 65, 131, 45, 80 
   CONTROL "Subject to:", 1405, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 150, 50, 11 
   CONTROL "Tree", 1406, BUTTON, BS_AUTOCHECKBOX | BS_LEFT | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 65, 149, 45, 14 
   CONTROL "Overlay", 1402, BUTTON, BS_AUTOCHECKBOX | BS_LEFT | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 163, 44, 14 
   CONTROL "Building", 1403, BUTTON, BS_AUTOCHECKBOX | BS_LEFT | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 65, 163, 45, 14 
   CONTROL "Clear Paths", 1404, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 181, 100, 14 
   CONTROL "Axial Symmetry Tool", 901, BUTTON, BS_GROUPBOX | WS_CHILD | WS_TABSTOP, 5, 205, 110, 70 
   CONTROL "Set Symmetry Axis", 1101, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 220, 100, 14 
   CONTROL "Place Symmetric Point", 1102, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 238, 100, 14 
   CONTROL "Clear Symmetric Points", 1103, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 256, 100, 14 
   CONTROL "Central Symmetry Tool", 902, BUTTON, BS_GROUPBOX | WS_CHILD | WS_TABSTOP, 5, 280, 110, 72 
   CONTROL "Set Symmetry Center", 1201, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 296, 100, 14 
   CONTROL "Place Symmetric Point", 1202, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 313, 100, 14 
   CONTROL "Clear Symmetric Points", 1203, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 331, 100, 14 
   CONTROL "Circle Tool", 903, BUTTON, BS_GROUPBOX | WS_CHILD | WS_TABSTOP, 5, 357, 110, 88 
   CONTROL "Radius:", 1300, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 372, 35, 12 
   CONTROL "", 1301, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER, 45, 371, 64, 14 
   CONTROL "Place Circle Center", 1302, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 390, 100, 14 
   CONTROL "Place Free Circle", 1304, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 408, 100, 14 
   CONTROL "Clear Circles", 1303, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 427, 100, 14 
}
