#include "Windows.h"

327 DIALOG 0, 0, 213, 116
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "MMX/YRO options"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "MS Sans Serif"
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 156, 93, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 85, 93, 50, 14 
   CONTROL "If CSF label does not exist, RA2 will place MISSING: in front of the map name.\nNote: If the saved filename exceeds 8 characters, it will be truncated to ensure compatibility.", 1000, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 200, 32 
   CONTROL "CSF Label:", 1001, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 44, 55, 12 
   CONTROL "", 1407, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 68, 44, 139, 14 
   CONTROL "Min players:", 1002, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 70, 55, 12 
   CONTROL "", 1435, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 68, 68, 30, 14 
   CONTROL "Max players:", 1003, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 115, 70, 54, 12 
   CONTROL "", 1436, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 177, 68, 30, 14 
}

