#include "Windows.h"

328 DIALOG 0, 0, 214, 160
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER | WS_THICKFRAME
CAPTION "Trigger Annotaion"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 8, "Tahoma"
{
   CONTROL "Current Object: ", 1000, STATIC, SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 198, 11 
   CONTROL "", 1001, "RichEdit", ES_LEFT | ES_MULTILINE | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL, 7, 22, 200, 131 
}

