#include <Windows.h>

222 DIALOG 0, 0, 245, 283
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Credits"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 188, 7, 50, 14 
   CONTROL "Lead Design && Programmer:", 1000, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 54, 145, 14 
   CONTROL "Matthias Wagner", 1001, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 162, 54, 76, 14 
   CONTROL "IsoMapPack5 compression/decompression:", 1002, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 69, 145, 14 
   CONTROL "Olaf van der Spek", 1003, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 162, 69, 76, 14 
   CONTROL "TMP format:", 1004, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 82, 145, 14 
   CONTROL "SHP format:", 1005, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 109, 145, 14 
   CONTROL "Jonathan Wilson\nOlaf van der Spek\nMatthias Wagner", 1006, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 162, 82, 76, 28 
   CONTROL "Jonathan Wilson\nOlaf van der Spek", 1007, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 162, 109, 76, 19 
   CONTROL "MIX files and XCC code:", 1008, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 129, 145, 14 
   CONTROL "Olaf van der Spek", 1009, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 162, 129, 76, 12 
   CONTROL "Translation into german, dutch and swedish:", 1010, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 143, 145, 14 
   CONTROL "Matthias Wagner\nBen Lankamp\nDaniel Bj\xF6rktegen", 1011, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 162, 142, 76, 28 
   CONTROL "Map files in general:", 1012, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 170, 145, 14 
   CONTROL "Matthias Wagner\nOmer Strulovich\nDeeZire\nFelix Kelm\nAnd many others!", 1013, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 162, 170, 76, 46 
   CONTROL 243, 1380, STATIC, SS_BITMAP | WS_CHILD, 217, 262, 21, 20 
   CONTROL "Producer:", 1014, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 38, 126, 12 
   CONTROL "Harvard Bonin", 1015, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 162, 38, 76, 13 
   CONTROL "FA2sp:", 1016, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 219, 145, 14 
   CONTROL "secsome", 1017, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 162, 219, 76, 14 
   CONTROL "FA2sp HDM Edtion:", 1018, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 235, 145, 14 
   CONTROL "Handama\nE1Elite", 1019, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 162, 235, 76, 24 
}

