#include <Windows.h>

137 DIALOG 0, 0, 197, 165
STYLE DS_SETFONT | DS_NOFAILCREATE | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Options"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 144, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 85, 144, 50, 14 
   CONTROL "Red Alert 2 EXE (make sure its in the correct path)", 1000, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 5, 184, 27 
   CONTROL "", 1034, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 5, 35, 130, 15 
   CONTROL "Browse", 1035, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 35, 50, 15 
   CONTROL "Language / Sprache:", 1001, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 61, 128, 11 
   CONTROL "", 1231, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 7, 73, 183, 93 
   CONTROL "Support settings", 1002, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 91, 183, 49 
   CONTROL "Support mission disks and mods (recommended)", 1360, BUTTON, BS_AUTORADIOBUTTON | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 102, 170, 16 
//  CONTROL "Only support original Red Alert 2", 1364, BUTTON, BS_AUTORADIOBUTTON | BS_MULTILINE | WS_CHILD, 14, 118, 168, 16 
}
