#include <Windows.h>

141 DIALOG 0, 0, 303, 204
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_SYSMENU
CAPTION "Map Properties"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
   CONTROL "Except useable size just for information.", 1285, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 289, 18 
   CONTROL "Size of map data", 1349, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 28, 290, 62 
   CONTROL "Useable size", 1351, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 95, 290, 55 
   CONTROL "The physical size of the map. Format: 0,0,Width,Height.", 1350, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 39, 275, 13 
   CONTROL "", 1044, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 11, 67, 90, 12 
   CONTROL "Change", 1440, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 212, 67, 70, 13 
   CONTROL "The useable size of the map. This specifies where you can place buildings etc. Has the following format: Left,Top,Right,Bottom", 1352, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 110, 275, 20 
   CONTROL "", 1046, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_VSCROLL | WS_TABSTOP, 10, 170, 90, 45 
   CONTROL "", 1045, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 10, 131, 90, 12 
   CONTROL "Change", 1439, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 111, 131, 70, 13 
   CONTROL "Width:", 1000, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 56, 93, 9 
   CONTROL "", 1047, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 106, 67, 90, 12 
   CONTROL "Height:", 1001, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 107, 56, 93, 9 
   CONTROL "Theater:", 1353, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 159, 284, 11 
}
