#include <Windows.h>

266 DIALOG 0, 0, 245, 196
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Save options"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 183, 175, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 124, 175, 50, 14 
   CONTROL "Compress map", 1417, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_GROUP, 201, 46, 0, 0 
   CONTROL "Don't compress map (use this if any problems with the map occur in RA2/TS)", 1418, BUTTON, BS_AUTORADIOBUTTON | BS_MULTILINE | WS_CHILD, 184, 62, 0, 0 
   CONTROL "Create new preview using minimap", 1419, BUTTON, BS_AUTORADIOBUTTON | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_GROUP, 19, 40, 170, 23 

   CONTROL "Use existing preview (if possible)", 1420, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 19, 63, 170, 12 
   CONTROL "Don't save any preview", 1421, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 19, 76, 170, 12 
   CONTROL "Compression", 1000, BUTTON, BS_GROUPBOX | WS_CHILD, 119, 52, 0, 0 
   CONTROL "Preview", 1001, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 29, 219, 65 
   CONTROL "If you want to play the map online, you should try to make the file size as low as possible. This includes turning off the preview.", 1002, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 153, 219, 21 
   CONTROL "Map name:", 1003, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 63, 13 
   CONTROL "", 1220, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 73, 7, 153, 12 
   CONTROL "Standard", 1426, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 99, 67, 14 
   CONTROL "Meatgrind", 1427, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 90, 100, 65, 14 
   CONTROL "Naval War", 1428, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 168, 100, 65, 14 
   CONTROL "Nuke War", 1429, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 115, 66, 14 
   CONTROL "Air War", 1430, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 90, 115, 65, 14 
   CONTROL "Mega Wealth", 1431, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 168, 115, 80, 14 
   CONTROL "Land Rush", 1432, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 131, 59, 14 
   CONTROL "Cooperative", 1433, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 90, 131, 70, 14 
   CONTROL "Team Alliance", 1434, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 168, 131, 65, 14 
}


