#include <Windows.h>

272 DIALOG 0, 0, 208, 57
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION ""
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "MS Sans Serif"
{
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_TABSTOP, 67, 68, 50, 14 
   CONTROL "Progress:", 1435, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 194, 22 
   CONTROL "Progress1", 1423, "msctls_progress32", PBS_SMOOTH | WS_CHILD | WS_VISIBLE | WS_BORDER, 7, 35, 194, 13 
   CONTROL "Progress:", 1438, STATIC, SS_LEFT | WS_CHILD | WS_GROUP, 8, 66, 194, 13 
}
