#include "Windows.h"

329 DIALOG 0, 0, 255, 195
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Map Renderer Options"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "Tahoma"
{
   CONTROL "Map renderer generates a full image in the map directory based on the following settings.", 1000, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 236, 17 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 196, 172, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 136, 172, 50, 14 
   CONTROL "Render size", 5000, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 30, 148, 30 
   CONTROL "Local size", 1001, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 14, 43, 60, 10 
   CONTROL "Full size", 1002, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 80, 43, 60, 10 
   CONTROL "Render layers", 5001, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 66, 148, 30 
   CONTROL "In-game", 1003, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 14, 79, 60, 10 
   CONTROL "Current layers", 1004, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 80, 79, 60, 10 
   CONTROL "Lighting", 5002, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 102, 148, 65 
   CONTROL "Current", 1005, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 14, 115, 60, 10 
   CONTROL "None", 1006, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 80, 115, 60, 10 
   CONTROL "Normal", 1007, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 130, 60, 10 
   CONTROL "Lightning storm", 1008, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 80, 130, 60, 10 
   CONTROL "Dominator", 1009, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 14, 145, 60, 10 
   CONTROL "Display invisible overlay in numbers", 1010, BUTTON, BS_AUTOCHECKBOX | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 162, 35, 82, 23 
   CONTROL "Place markers at starting positions", 1011, BUTTON, BS_AUTOCHECKBOX | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 162, 60, 82, 23 
   CONTROL "Emphasize resource fields", 1012, BUTTON, BS_AUTOCHECKBOX | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 162, 85, 81, 23 
   CONTROL "Ignore specified objects (in FAData.ini)", 1013, BUTTON, BS_AUTOCHECKBOX | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 162, 110, 82, 23 
   CONTROL "Display tunnel path", 1014, BUTTON, BS_AUTOCHECKBOX | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 162, 135, 82, 23 
   CONTROL "Batch process", 4000, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 172, 60, 14 
}

330 DIALOG 0, 0, 272, 188
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Batch Process"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "Tahoma"
{
   CONTROL "Please enter the file paths, one per line.", 5000, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 209, 20 
   CONTROL "", 1000, "RichEdit", ES_LEFT | ES_MULTILINE | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL, 7, 30, 257, 150 
   CONTROL "OK", 1, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 224, 7, 40, 14 
}

