#include "Windows.h"

329 DIALOG 0, 0, 160, 125
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Map Renderer Options"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "Tahoma"
{
   CONTROL "Map renderer will use the current lighting preset.", 1000, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 148, 17 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 104, 102, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 44, 102, 50, 14 
   CONTROL "Render size", 5000, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 30, 148, 30 
   CONTROL "Local size", 1001, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 14, 40, 60, 10 
   CONTROL "Full size", 1002, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 80, 40, 60, 10 
   CONTROL "Render layers", 5001, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 66, 148, 30 
   CONTROL "In-game", 1003, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 14, 76, 60, 10 
   CONTROL "Current layers", 1004, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 80, 76, 60, 10 
}

